In [1]:
'''
1. Expense Tracker
Create a program that allows users to track their expenses. The program should:
•	Allow users to add, remove, and view expenses.
•	Categorize expenses (e.g., food, transportation, utilities).
•	Calculate total expenses and expenses per category.
•	Save expenses to a file and load them on startup.
'''

'\n1. Expense Tracker\nCreate a program that allows users to track their expenses. The program should:\n•\tAllow users to add, remove, and view expenses.\n•\tCategorize expenses (e.g., food, transportation, utilities).\n•\tCalculate total expenses and expenses per category.\n•\tSave expenses to a file and load them on startup.\n'

In [1]:
import mysql.connector 
import pandas as pd

host = '127.0.0.1'
port = 3306
user = 'root'
password = '2655'
database = 'expense_tracker'

def connect():
    try:
        conn = mysql.connector.connect(
            host=host,
            port=port,
            user=user,
            password=password,
            database=database
        )
        
        return conn
    except mysql.connector.Error as e:
        print(f"Error connecting to MySQL: {e}")
        return None

def setup_database():
    conn = connect()
    if conn:
        cursor = conn.cursor()
        cursor.execute('''
        CREATE TABLE IF NOT EXISTS expenses
        (expense_id INT PRIMARY KEY, sb_category VARCHAR(255), category VARCHAR(255), amount FLOAT)
        ''')
        conn.commit()
        conn.close()

def add_expenses():
    expense_id = int(input("Enter the expense ID: "))
    sub_category = input("Enter the sub-category: ")
    category = input("Enter the category: ")
    amount = float(input("Enter the amount: "))
    
    conn = connect()
    if conn:
        cursor = conn.cursor()
        try:
            cursor.execute("INSERT INTO expenses (expense_id, sub_category, category, amount) VALUES (%s, %s, %s, %s)", 
                           (expense_id, sub_category, category, amount))
            conn.commit()
            print("Expense added successfully")
        except mysql.connector.Error as e:
            print(f"Error adding expense: {e}")
        conn.close()

def remove_expenses():
    your_id = int(input("Enter the expense ID to remove: "))
    conn = connect()
    if conn:
        cursor = conn.cursor()
        cursor.execute("DELETE FROM expenses WHERE expense_id = %s", (your_id,))
        if cursor.rowcount > 0:
            print("Expense removed successfully!")
        else:
            print("Expense with that ID not found.")
        conn.commit()
        conn.close()

def view_expenses():
    conn = connect()
    if conn:
        df = pd.read_sql_query("SELECT * FROM expenses", conn)
        if df.empty:
            print("No expenses found!")
        else:
            print(df.to_string(index=False))
        conn.close()

def search_expenses():
    your_id = int(input("Enter the expense ID: "))
    conn = connect()
    if conn:
        df = pd.read_sql_query("SELECT * FROM expenses WHERE expense_id = %s", conn, params=(your_id,))
        if df.empty:
            print("No such Expense found!")
        else:
            print(df.to_string(index=False))
        conn.close()

def menu():
    setup_database()  # Set up the database when the program starts
    while True:
        print("\nWelcome to the expense tracker system!")
        print("1. Add an expense")
        print("2. Remove an expense")
        print("3. View your expenses")
        print("4. Search an expense")
        print("5. Exit")
        choice = int(input("Enter your choice: "))
    
        if choice == 1:
            add_expenses()
        elif choice == 2:
            remove_expenses()
        elif choice == 3:
            view_expenses()
        elif choice == 4:
            search_expenses()
        elif choice == 5:
            print("Thank you for using expense tracker system. Goodbye!")
            break
        else:
            print("Invalid choice. Please try again.")

menu()

Welcome to the expense tracker system!
1. Add an expense
2. Remove an expense
3. View your expenses
4. Search an expense
5. Exit

Enter your choice:  1
Enter the expense ID:  4
Enter the sub-category:  Samosa
Enter the category:  food
Enter the amount:  50

Expense added successfully

Welcome to the expense tracker system!
1. Add an expense
2. Remove an expense
3. View your expenses
4. Search an expense
5. Exit

Enter your choice:  2
Enter the expense ID to remove:  1

Expense with that ID not found.

Welcome to the expense tracker system!
1. Add an expense
2. Remove an expense
3. View your expenses
4. Search an expense
5. Exit

Enter your choice:  3

C:\Users\Akshita Tiwari\AppData\Local\Temp\ipykernel_8724\1104878408.py:70: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("SELECT * FROM expenses", conn)

 expense_id sub_category category  amount
          2       samosa     food    20.0
          4       Samosa     food    50.0

Welcome to the expense tracker system!
1. Add an expense
2. Remove an expense
3. View your expenses
4. Search an expense
5. Exit

Enter your choice:  4
Enter the expense ID:  4

C:\Users\Akshita Tiwari\AppData\Local\Temp\ipykernel_8724\1104878408.py:81: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("SELECT * FROM expenses WHERE expense_id = %s", conn, params=(your_id,))

 expense_id sub_category category  amount
          4       Samosa     food    50.0

Welcome to the expense tracker system!
1. Add an expense
2. Remove an expense
3. View your expenses
4. Search an expense
5. Exit

Enter your choice:  5

Thank you for using expense tracker system. Goodbye!